extends layout

block content
  nav(class="navbar navbar-light bg-light")
    div(class="container-fluid")
      a(class="navbar-brand" href="#") Contacts
      p.me-2 Krishna Sridhar #{name}

  //- include home.pug
  //- include contacts.pug
  //- include view.pug
  include add.pug
  

